* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background: black url("./image/Measure.jpg") center center no-repeat;
	background-size: cover;
}
form {
	position: absolute;
	background-color: white;
	margin-top: 50px;
	text-align: center;
	display: inline-block;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 8px;
	left: 50%;
	top: 20%;
	transform: translate(-50%,-50%);
}
legend{
	padding-bottom: 5px;
}
.error{
	color: red;
	font-size: 14px;
}
.answer{
	position: absolute;
	background-color: white;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: black;
	border: 1px solid grey;
	padding: 5px;
	border-radius: 8px;
	
}
input[type=number]{
	border-radius: 8px;
}
input[type=submit] {
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	transition: all 0.2s ease;
}
input[type=submit]:hover {
	background-color: #ff0266;
	color: white;
}

@media screen and (max-width: 675px)
{
	form {
		margin-top: 110px;
	}
	.answer{
		margin-top: 30px;
	}
}
@media screen and (max-width: 335px)
{
	form {
		margin-top: 160px;
	}
	.answer{
		margin-top: 70px;
	}
}
@media screen and (max-width: 255px)
{
	form {
		margin-top: 200px;
	}
	.answer{
		margin-top: 100px;
	}
}